ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    position: fixed;
    top: 0;
    width: 100%;
    
}
  
li {
float: right;

}
  
li a {
    display: block;
    color: rgb(255, 204, 0);
    text-align: left;
    padding: 30px 70px;
    text-decoration: none;
    font-size: large;
    font-family: Verdana;

}
  
  
li a:hover {
    background-color: #111;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    
}


video::-webkit-media-controls {
    display: none !important;
}

video::-webkit-media-controls-enclosure {
    display: none !important;
}

video::-webkit-media-controls-panel {
    display: none !important;
}

video::-webkit-media-controls-overlay-play-button {
    display: none !important;
}

#videoBG{
    position: fixed; /* Position the video element fixed to the viewport */
    right: 0;
    bottom: 0;
    min-width: 100%; /* Ensure the video covers the entire viewport */
    min-height: 100%;
    z-index: -1; /* Place the video behind other content */
}

.text-container {
    position:absolute;
    top: 50%; /* Position text vertically centered */
    left: 50%; /* Position text horizontally centered */
    transform: translate(-50%, -50%); /* Center text */
    text-align: center; /* Align text center */
    color:rgb(255, 204, 0); /* Text color */
    z-index: 1; /* Ensure text appears above the video */
}


.section {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: black;
    color:rgb(255, 204, 0);
    text-align: left;
    padding: 20px 20px; /* Add padding for better appearance */
}

p{
    padding-left: 100px;
    font-family: verdana;


}

.button {
    background-color: rgb(255, 204, 0);
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 100px;
    cursor: pointer;
    border-radius: 100px;
  }




footer{
    background-color: #000000; /* Background color of the footer */
    color: rgb(255, 204, 0); /* Text color of the footer */
    padding: 20px; /* Padding around the content inside the footer */
    width: 100%; /* Full width of the viewport */
    text-align: right; /* Center align the text inside the footer */
    position: relative; /* Change positioning to relative */
    margin-top: 590px; /* Add some space between the footer and the content */
    clear: both; /* Ensure that footer clears both left and right floated elements */

}

.Menu{
    padding-right: 300px;



}

.linkmenu{
    color: rgb(255, 204, 0);
    text-decoration: none;



}


